In [1]:
## Here we are going to do the analysis for logistic regression for titanic dataset
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('D:/Data Science/31. Project - Logistic Regression/1. Logistic Regression - Titanic Dataset.csv')
df = data.copy()
## we are going to see that how many value are null in this case
print(df.isnull().sum())
df.shape

Pclass        0
Name          0
Sex           0
Age         132
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       514
Embarked      1
Survived      0
dtype: int64

(668, 11)

In [3]:
def f(str):
    if str == 'male':
        return 1
    else:
        return 0
## here we are transorming the value of male into 1 and female into 0
df['Sex'] = df.Sex.apply(f)
## after that we are drop all that column which has no involvement in our algorithem
## since all are in the form of string
df.drop('Pclass',axis = 1,inplace = True)

In [4]:
df.drop('Name',axis = 1,inplace = True)
df.drop('Ticket',axis = 1,inplace = True)
df.drop('Cabin',axis = 1,inplace = True)

In [5]:
## we are going to fill the age value with the mean value of age
df.Age.fillna(df.Age.mean(),inplace = True)
## we are leave with one  embarked value so we drop it
df.dropna(inplace = True)

In [6]:
df.describe()
df.isnull().sum()

Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
Survived    0
dtype: int64

In [7]:
## Make embarked with S:0 ; C:1;Q:2
def f(str):
    if str == 'S':
        return 0
    elif str == 'C':
        return 1
    else:
        return 2
df['Embarked'] = df.Embarked.apply(f)

In [8]:
## we are going to learn the Logistic Regression
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [9]:
df.head()

   Sex       Age  SibSp  Parch    Fare  Embarked  Survived
0    0  29.00000      1      0  26.000         0         1
1    1  29.70056      0      0   8.050         0         0
2    1  39.00000      0      0  26.000         0         0
3    0  29.00000      0      4  21.075         0         0
4    1  25.00000      0      0   7.050         0         0

In [10]:
## change the value of dataframe into numpy array
numpy_data = df.values
x = numpy_data[:,0:6]
y = numpy_data[:,6]
print(x.shape)
print(y.shape)

(667, 6)
(667,)

In [11]:
## train our value with inbuilt logistic Regression
x_train,x_test,y_train,y_test = train_test_split(x,y)
alg = LogisticRegression()
scale = StandardScaler()
scale.fit(x_train)
x_train = scale.transform(x_train)
x_test = scale.transform(x_test)
alg.fit(x_train,y_train)

LogisticRegression()

In [12]:
## score of our algorithm for training data and testing data
print("score of train data: ",alg.score(x_train,y_train))
print("score of test data: ",alg.score(x_test,y_test))

score of train data:  0.782
score of test data:  0.7784431137724551

In [13]:
## let's see the confusion matrix
y_pred_train = alg.predict(x_train)
y_pred_test = alg.predict(x_test)
from sklearn.metrics import confusion_matrix
## confusion matrix of train data
confusion_matrix(y_train,y_pred_train)

array([[259,  41],
       [ 68, 132]], dtype=int64)

In [14]:
## confusion matrix of test data
confusion_matrix(y_test,y_pred_test)

array([[85, 14],
       [23, 45]], dtype=int64)

In [16]:
## Let's see the classification report for our result
from sklearn.metrics import classification_report
print("classification report for test data: ")
print(classification_report(y_test,y_pred_test))
print("classification report for train data")
print(classification_report(y_train,y_pred_train))

classification report for test data:
              precision    recall  f1-score   support

         0.0       0.79      0.86      0.82        99
         1.0       0.76      0.66      0.71        68

    accuracy                           0.78       167
   macro avg       0.77      0.76      0.76       167
weighted avg       0.78      0.78      0.78       167

classification report for train data
              precision    recall  f1-score   support

         0.0       0.79      0.86      0.83       300
         1.0       0.76      0.66      0.71       200

    accuracy                           0.78       500
   macro avg       0.78      0.76      0.77       500
weighted avg       0.78      0.78      0.78       500